   .login_container {
            border: none;
            border-radius: 8px;
            gap: 20px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 350px;
            /* height: 270px; */
            flex-wrap: wrap;
            background-color: #252525;
            padding: 25px;
        }

        .login_container input {
            border: none;
            border-radius: 4px;
            height: 25px;
            width: 195px;
            padding: 5px 10px;
        }

        .login_page_login button {
            border: none;
            font-weight: bold;
            padding: 5px 10px;
            border-radius: 5px;
            background-color: #1ed760;

        }
        .login_page_login button:hover{
            cursor: pointer;
            font-size: 14px;
        }

        body {
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 100vh;
            margin: 0;
            background-color: #121212;
            flex-direction: column;
            gap: 30px;
            
        }


        img {
            width: 30px;
            color: #1ed760;
        }

        .login_logo {
            gap: 12px;
            display: flex;
            align-items: center;

        }

        /* .login_first_div{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vw;
        } */
        .login_option {
            border: 1px solid rgb(0, 0, 0);
            display: flex;
            justify-content: start;
            gap: 30px;
            padding: 10px;
            border-radius: 15px;
            background-color: #121212;
        }

        .login_options {
            gap: 12px;
            display: flex;
            flex-direction: column;
        }

        