@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Mono:ital,wght@0,200..800;1,200..800&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: "Atkinson Hyperlegible Mono", sans-serif;
    
}
.logo{
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 12px;
    flex-wrap: wrap;
}
.logo span {
    font-size: 22px;
}

.left{
    width: 25vw;
    padding: 10px;
}

.right{
    width: 75vw;
}

.home ul li{
    display: flex;
    width: 15px;
    gap: 15px;
    list-style: none;
    padding-top: 14px;
    font-weight: bold;
}
.library{
    min-height: 70vh;
    position: relative;
}
.heading{
    display: flex;
    gap: 15px;
    align-items: center;
    font-weight: bold;  
    padding-top: 14px;
}
.heading img{
    width: 30px;
}
.footer{
    position: absolute;
    bottom: 0;
    display: flex;
    gap: 15px;
    font-size: 10px;
    align-items: center;
    color: grey;
    padding: 10px;
    flex-wrap: wrap;
}
.right{
    margin: 15px 0px;
    position: relative;
}
.header{
    display: flex;
    justify-content: space-between;
    background-color: rgb(38, 38, 38);
    
}
.header > *{
    padding: 20px;

}
.spotify_playlist{
    padding: 16px;
    padding-left: 25px;
    
}
.spotify_playlist h1{
    font-size: 25px;
    font-weight: bold;
    font-family: "Roboto", sans-serif;
}
.cardscontainer{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    margin: 30px;
    overflow: scroll;
    max-height: 80vh;
    
}
.cardscontainer::-webkit-scrollbar{
    display: none;
}

.card{
    width: 123px;
    padding: 10px;
    border-radius: 5px;
    background-color: #252525;
    position: relative;
    
}

.card > *{
    padding-top: 10px;
}
.card img{
    width: 100%;
    object-fit: contain;
}
.play{
    border-radius: 50%;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 7px;
    background-color: #1fdf64;
    position: absolute;
    top: 165px;
    right: 20px;
    opacity: 0;
    transition: all 1s ease-out;
}
.play img{
    width: 30px;
}
.buttons > *{
    margin: 0 12px;
}
.signupbtn{
    background-color:rgb(38, 38, 38);
    color: rgb(100, 97, 97);
    font-weight: bold;
    border: none;
    outline: none;
    
    font-size: 16px;
    cursor: pointer;
}
.signupbtn:hover{
    font-size: 17px;
    color: white;
}
.loginbtn{
    background-color: white;
    color: black;
    border: none;
    outline: none;
    
    padding: 8px 16px;
    border-radius: 20px;
    font-size: 16px;
    cursor: pointer;
}
.loginbtn:hover{
    font-size: 17px;
    font-weight: bold;
    padding: 8px 18px;
    
}

.playbar{
    position: absolute;
    bottom: 48px;
    width: 70vw;
    background-color: whitesmoke;
    padding: 12px;
    position: fixed
}

.songbutton{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}
.songbutton img{
    width: 30px;
}
.songlist{
    height: 344px;
    overflow: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;  
}
.songlist::-webkit-scrollbar{
    display: none;
}

.songlist ul{
    padding: 0 5px;
    
}
.songlist ul li{
    list-style-type: decimal;
    display: flex;
    gap: 20px;
    cursor: pointer;
    padding: 13px;
    border: 1px solid white;
    margin: 12px 12px;
    border-radius: 7px;
    justify-content: space-between;
    position: relative;
    
}
.songlist ul li img{
    width: 40px;
    
}


.playnow{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 59px;
    gap: 5px;
    position: absolute;
    right: 20px;
}
.playnow span{
    width: 24px;
    font-size: 14px;
    justify-content: center;
    align-items: center;
}

.info{
    display: flex;
    gap: 15px;
    align-items: center;
}
.playbar{
    border-radius: 10px;
    background-color: #d9cfcf;
    height: 40px;
    
}
.seekbar{
    height: 4px;
    width: 98%;
    background:  black;
    position: absolute;
    bottom: 3px;
    border-radius: 6px;
    margin: 5px;
    cursor: pointer;
    
}
.circle{
    width: 13px;
    height: 13px;
    border-radius: 13px;
    background-color: black;
    position: relative;
    bottom: 5px;
    left: 0%;
    transition: left 0.5s;
}

.songbutton img{
    cursor: pointer;
}

.playbar_thing{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.songinfo , .songtime{
    color: black;
}