@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Mono:ital,wght@0,200..800;1,200..800&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: "Atkinson Hyperlegible Mono", sans-serif;
}
.left{
    width: 25vw;
    padding: 10px;
}

.right{
    width: 75vw;
}

.home ul li{
    display: flex;
    width: 15px;
    gap: 15px;
    list-style: none;
    padding-top: 14px;
    font-weight: bold;
}
.library{
    min-height: 70vh;
    position: relative;
}
.heading{
    display: flex;
    gap: 15px;
    align-items: center;
    font-weight: bold;  
    padding-top: 14px;
}
.heading img{
    width: 30px;
}
.footer{
    position: absolute;
    bottom: 0;
    display: flex;
    gap: 15px;
    font-size: 10px;
    align-items: center;
    color: grey;
    padding: 10px;
    flex-wrap: wrap;
}
.right{
    margin: 15px 0px;
}
.header{
    display: flex;
    justify-content: space-between;
    background-color: rgb(38, 38, 38);
    
}
.header > *{
    padding: 20px;

}
.spotify_playlist{
    padding: 16px;
    padding-left: 25px;
    
}
.spotify_playlist h1{
    font-size: 25px;
    font-weight: bold;
    font-family: "Roboto", sans-serif;
}
.cardscontainer{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    margin: 30px;
}

.card{
    width: 200px;
    padding: 10px;
    border-radius: 5px;
    background-color: #252525;
    position: relative;
}


.card > *{
    padding-top: 10px;
}
.card img{
    width: 100%;
    object-fit: contain;
}
.play{
    border-radius: 50%;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 7px;
    background-color: #1fdf64;
    position: absolute;
    top: 165px;
    right: 20px;
    opacity: 0;
    transition: ease-out;
}
.play img{
    width: 30px;
}