   * {
       margin: 0;
       padding: 0;

   }

   main {
       background-color: rgb(0, 0, 0);
       color: white;

   }

   body {
       font-family: "Netflix Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
   }


   header {
       background-image:
           linear-gradient(to top,
               rgba(0, 0, 0, 0.9) 0%,
               rgba(0, 0, 0, 0.6) 50%,
               rgba(0, 0, 0, 0.4) 75%,
               rgba(0, 0, 0, 0.85) 100%),
           url("image/NETFLIX background.jpg");

       background-size: cover;
       background-position: center;
       background-repeat: no-repeat;
       min-height: 100vh;
       padding-bottom: 50px;

   }

   .select {
       list-style: none;
       opacity: 0;
   }

   .nav {
       display: flex;
       align-items: center;
       margin: 0 150px;
       justify-content: space-between;

   }


   img {
       width: 100px;
       height: auto;
   }

   button {
       color: white;
       background-color: red;
       height: 35px;
       width: 75px;
       border-radius: 6px;
       border-style: solid;
       font-weight: bold;
   }

   #language {
       height: 32px;
       width: 80px;
       border-radius: 4px;
       padding: 4px;

   }

   .content_text {
       text-align: center;
       color: white;
       margin-top: 145px;
       font-weight: bold;
   }

   .head_size {
       font-size: 50px;
       margin-bottom: 20px;
       font-weight: 900;
   }

   .member {
       text-align: center;
       color: white;
       margin-top: 30px;
       font-size: 16px;
   }

   .inputs {
       text-align: center;
       margin-top: 10px;
   }

   .get_start {
       height: 53px;
       width: 150px;
       font-weight: bold;
       font-size: 16px;
       border-radius: 5px;
   }

   .emailinput {
       height: 50px;
       width: 370px;
       font-size: 16px;
       padding-left: 10px;
       background-color: black;
       border: solid 0.5px whitesmoke;
       border-radius: 5px;
       /* opacity: 0.7; */
   }

   .movies {
       max-width: 75vw;
       margin: auto;
       padding: 40px;

   }

   .list_movies {
       display: flex;
       gap: 50px;
       padding-top: 20px;
       overflow-x: auto;
       padding-left: 10px;

   }

   .heading {
       margin-top: 20px;
       font-size: 26px;
       font-weight: 600;
   }

   .numbers {
       font-size: 120px;
       position: absolute;
       font-weight: bold;
       left: -14px;
       bottom: 9px;
   }

   .scroll {
       position: relative;

   }

   .scroll img {
       width: 200px;
       height: auto;
       border-radius: 8px;
   }

   .list_movies::-webkit-scrollbar {
       height: 8px;
       display: none;
   }

   .rudra {
       display: flex;
       gap: 60px;
       margin-top: 20px;

   }

   .reson_tital {

       font-size: 26px;
       font-weight: bold;
       margin-top: 25px;
   }

   .reson {
       background-color: rgb(29, 12, 60);
       height: auto;
       width: 30vw;
       padding: 15px;
       padding-top: 30px;
       border-radius: 10px;

   }

   .reson p {
       margin-top: 20px;
       font-size: 16px;
       opacity: 0.6;
   }

   .mumma .reson_tital p {
       margin-top: 40px;
       margin-bottom: 40px;
   }

   .questions {
       text-align: left;
       font-size: 26px;
       font-weight: bold;
       margin-top: 5px;
       background-color: rgb(39, 40, 40);
       padding: 25px;
       /* margin: 40px; */
       gap: 5px;
       display: flex;
   }

   .mumma span {
       float: right;
       margin-left: auto;
       align-items: center;
   }

   .movies .member p {
       margin-top: 70px;
       margin-bottom: 20px;
   }

   .movies .inputs .emailinput {
       margin-bottom: 10px;
       width: 40vw;
   }

   .footer {
       margin-top: 50px;
   }

   .option2 {
       display: grid;
       grid-template-columns: repeat(4, 1fr) ;
       margin: 25px;
       padding: 20px;
       font-style: underline;
   }

   .option2 .options_1 {
       font-size: 12px;
       margin-bottom: 10px;
       text-decoration: underline;
   }
   .customer_care {
    margin-bottom: 30px;
    font-size: 14px;
    
   }
   .underline {
    text-decoration: underline;
   
   }
   .footer .customer_care {
    opacity: 0.6;
   }
   .footer  .option2 {
    opacity: 0.6;
   }
   #language{
     background-color: rgba(0, 0, 0, 0.7);
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.3); 
   }
   .netflix_india{
    margin-top: 30px;
    font-size: 14px;
    opacity: 0.6;
   }